<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Book Explorer</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" fill="clear">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar [formControl]="searchControl" placeholder="Search by title or author" animated debounce="300">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-loading *ngIf="isLoading"></app-loading>

  <ion-list lines="full" *ngIf="books$ | async as books">
    <ion-item-sliding *ngFor="let book of books">
      <ion-item (click)="openBookDetails(book.id)" detail>
        <ion-thumbnail slot="start" *ngIf="book.coverImage">
          <img [src]="book.coverImage" [alt]="book.title" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{ book.title }}</h2>
          <p>{{ book.author }}</p>
          <p class="ion-text-wrap">
            {{ book.shortDescription | slice:0:100 }}{{
            book.shortDescription.length > 100 ? '...' : '' }}
          </p>
        </ion-label>
      </ion-item>
    </ion-item-sliding>

    <ion-item *ngIf="books.length === 0">
      <ion-label class="ion-text-center">No books found</ion-label>
    </ion-item>
  </ion-list>
</ion-content>